{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    // Asegúrate de que este plugin esté presente
    "@babel/plugin-transform-runtime"
  ]
}
